.carousel-items{
    height: 15rem;
    left: -24rem;
    position: relative;
    color: white;
}
.carousel-items p{
    position: relative;
    left: 6rem;
}
.carousel-items a{
    position: relative;
    left: -3rem;
}
.contain{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}